<section [ngClass]="{ 'hero': true, 'is-fullheight': true, 'is-alternate': isAlternate }" 
          id="slide-conflict-kinds">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column has-text-centered vs">
          <span class="has-text-info">immedate</span> 
          <span class="has-text-grey-light">vs</span>
          <span class="has-text-info">eventual</span>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot">
    <app-slide-nav-bottom></app-slide-nav-bottom>
  </div>
</section>