<section [ngClass]="{ 'hero': true, 'is-fullheight': true, 'is-alternate': isAlternate }"
        id="api-init">
  <div class="hero-body">
      <div class="container">
          <div class="columns">
              <div class="column">
                  <h1 class="title">
                      Initialize
                  </h1>
                  <h2 class="subtitle">
                      Create database instances
                  </h2>
              </div>
              <div class="column">
                  <p class="has-text-grey-light">Uses pouchdb-authentication</p>
                  <pre><code class="javascript">{{ code }}</code></pre>
                  <span class="icon is-button-borderless is-pulled-right">
                      <i class="fas fa-play" data-function="create" onclick="api.init('api-demos', 'http://localhost:5984/api-demos')"></i>
                  </span>
              </div>
          </div>
      </div>
  </div>
  <div class="hero-foot">
    <app-slide-nav-bottom></app-slide-nav-bottom>
  </div>
</section>