<div class="top-bar">
    <div class="columns">
        <div class="column">
            <span *ngIf="browserName" class="browser-name tag is-light">{{ browserName }}</span>
        </div>
        <div class="column">
            <div class="has-text-right">
                <button class="button has-no-border has-no-background-color" (click)="toggleConfig($event)"><i class="fas fa-cog has-text-grey-light"></i></button>
                <button class="button has-no-border has-no-background-color" (click)="toggleNav($event)"><i class="fas fa-ellipsis-h has-text-grey-light"></i></button>
            </div>
        </div>
    </div>
</div>

<section *ngIf="showNav" class="message is-info nav-panel">
    <div class="message-header">
        <p>Demos and Code Samples</p>
        <button class="delete" aria-label="delete" (click)="toggleNav($event)"></button>
    </div>
    <div class="message-body">
        <div class="columns">
            <div class="column">
                <h3 class="is-size-5">Demos</h3>
                <ul>
                    <li><button class="button" (click)="scrollToSectionById('demo-sync')">Sync</button></li>
                    <li><button class="button" (click)="scrollToSectionById('demo-conflicts-local')">Immediate Conflict</button></li>
                    <li><button class="button" (click)="scrollToSectionById('sync-conflict-comparer')">Eventual Conflict</button></li>

                </ul>
            </div>
            <div class="column">
                <h3 class="is-size-5">API Samples</h3>
                <ul>
                    <li><button class="button" (click)="scrollToSectionById('api-init')">Initialize</button></li>
                    <li><button class="button" (click)="scrollToSectionById('api-add')">put (add)</button></li>
                    <li><button class="button" (click)="scrollToSectionById('api-get')">get</button></li>
                    <li><button class="button" (click)="scrollToSectionById('api-update')">put (update)</button></li>
                    <li><button class="button" (click)="scrollToSectionById('api-delete')">remove</button></li>
                    <li><button class="button" (click)="scrollToSectionById('api-alldocs')">allDocs</button></li>
                    <li><button class="button" (click)="scrollToSectionById('api-changes')">changes</button></li>
                    <li><button class="button" (click)="scrollToSectionById('api-sync')">sync</button></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="remote-server-configuration" *ngIf="showConfig" class="message is-dark remote-server-configuration">
  <div class="message-header">
      <p>Configuration</p>
      <button class="delete" aria-label="delete" (click)="toggleConfig($event)"></button>
  </div>
  <div class="message-body">

    <div class="has-text-right"><button class="button has-no-border has-no-background-color" 
        onclick="api.initializeDemo()"><i class="fas fa-cogs has-text-grey-light"></i></button></div>

      <p>Load config: <button class="is-link" (click)="setConfig('local')">local</button> | <button class="is-link" (click)="setConfig('azure')">Azure</button></p>

      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth push-down-top-sm">
          <tbody>
              <tr>
                  <th>Remote host</th>
                  <td>{{ host }}</td>
              </tr>
              <tr>
                  <th>Port</th>
                  <td>{{ port }}</td>
              </tr>
              <tr>
                  <th>Username</th>
                  <td>{{ username }}</td>
              </tr>
              <tr>
                  <th>Password</th>
                  <td><input disabled class="input has-no-border has-no-background-color" type="password" [value]="password"></td>
              </tr>
          </tbody>
      </table>

      <div class="has-text-centered"><a [href]="adminURL" class="button is-fullwidth has-no-background-color has-no-border" target="_blank">{{ adminURL }}</a></div>
  </div>
</section>