<section [ngClass]="{ 'hero': true, 'is-fullheight': true, 'is-alternate': isAlternate }" 
          id="slide-xouch">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column has-text-centered">
          <img src="/src/assets/images/couchdb-logo.png" alt="CouchDB">
        </div>
        <div class="column has-text-centered">
          <img src="/src/assets/images/pouchdb-logo.png" alt="PouchDB">
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot">
    <app-slide-nav-bottom></app-slide-nav-bottom>
  </div>
</section>