<section class="hero is-fullheight has-background-info" id="introduction">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column" style="padding-top:120px;">
                    <h1>
                        Client to Cloud
                    </h1>
                    <p class="subtitle">
                        Synchronizing the in-browser database with the server.
                    </p>
                </div>
                <div class="column">
                    <img src="/assets/images/client-to-the-cloud-title.png" alt="Client to the Cloud">
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <app-slide-nav-bottom></app-slide-nav-bottom>
    </div>
</section>