<section class="hero is-fullheight has-background-info" id="introduction">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1>
                        Sync &amp; Conflicts
                    </h1>
                    <p class="subtitle">
                        Conflicts are an inevitability to life. Learn to use <a href="http://pouchdb.com" target="_blank">PouchDB</a> 
                        with <a href="http://couchdb.apache.org/" target="_blank">CouchDB</a> to synchronize data 
                        among the server and multiple clients while keeping conflict resolution a first-class concern.</p>
                    <p>
                        <a href="http://twitter.com/craigshoemaker" target="_blank"><i class="fab fa-twitter-square"
                                aria-hidden="true"></i> craigshoemaker</a><br />
                        <a href="http://github.com/craigshoemaker" target="_blank"><i class="fab fa-github" aria-hidden="true"></i>
                            craigshoemaker</a>
                    </p>
                </div>
                <div class="column">
                    <img src="/assets/images/client-to-the-cloud-title.png" alt="Client to the Cloud">
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <app-slide-nav-bottom></app-slide-nav-bottom>
    </div>
</section>