<section class="hero is-fullheight has-background-info" id="introduction">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1>
                        Client to the Cloud
                    </h1>
                    <h2>
                        Synchronizing the in-browser database with the cloud
                    </h2>
                    <p>
                        Working with in-browser databases gives you the opportunity to save large amounts
                        of data without ever needing to contact the server, but for many applications the
                        data can't just stay on the client. To bridge the
                        gap between local and server data you need a reliable strategy that synchronizes the client to
                        the server.</p>
                    <p>
                        Learn to use <a href="http://pouchdb.com" target="_blank">PouchDB</a> with
                        <a href="http://couchdb.apache.org/" target="_blank">CouchDB</a> to synchronize data, deal with
                        conflicts and
                        untether yourself from the network.
                    </p>
                    <p>
                        <a href="http://twitter.com/craigshoemaker" target="_blank"><i class="fab fa-twitter-square"
                                aria-hidden="true"></i> craigshoemaker</a><br />
                        <a href="http://github.com/craigshoemaker" target="_blank"><i class="fab fa-github" aria-hidden="true"></i>
                            craigshoemaker</a>
                    </p>
                </div>
                <div class="column">
                    <img src="/assets/images/client-to-the-cloud-title.png" alt="Client to the Cloud">
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <app-slide-nav-bottom></app-slide-nav-bottom>
    </div>
</section>