<app-nav></app-nav>
<app-introduction></app-introduction>
<app-slide-github isAlternate="true"></app-slide-github>
<app-slide-lifi></app-slide-lifi>
<app-slide-takeaways isAlternate="true"></app-slide-takeaways>
<app-slide-xouchdb></app-slide-xouchdb>
<app-crud isAlternate="true"></app-crud>
<app-slide-anatomy></app-slide-anatomy>
<app-slide-conflict-kinds isAlternate="true"></app-slide-conflict-kinds>
<app-crud></app-crud>
<app-local-conflict isAlternate="true"></app-local-conflict>
<app-api-init></app-api-init>
<app-api-add isAlternate="true"></app-api-add>
<app-api-get></app-api-get>
<app-api-update isAlternate="true"></app-api-update>
<app-api-delete></app-api-delete>
<app-api-alldocs isAlternate="true"></app-api-alldocs>
<app-api-immediate-conflict></app-api-immediate-conflict>
<app-sync isAlternate="true"></app-sync>
<app-api-sync></app-api-sync>
<app-sync isAlternate="true"></app-sync>
<app-sync-conflict-comparer></app-sync-conflict-comparer>
<app-api-bulkdocs isAlternate="true"></app-api-bulkdocs>
<app-slide-last></app-slide-last>