<app-nav></app-nav>
<app-introduction></app-introduction>
<app-slide-github isAlternate="true"></app-slide-github>
<app-slide-takeaways></app-slide-takeaways>
<app-slide-lifi isAlternate="true"></app-slide-lifi>
<app-slide-xouchdb></app-slide-xouchdb>
<app-crud isAlternate="true"></app-crud>
<app-slide-anatomy></app-slide-anatomy>
<app-slide-conflict-kinds isAlternate="true"></app-slide-conflict-kinds>
<app-crud></app-crud>
<app-local-conflict isAlternate="true"></app-local-conflict>
<app-api-init></app-api-init>
<app-api-add isAlternate="true"></app-api-add>
<app-api-get></app-api-get>
<app-api-update isAlternate="true"></app-api-update>
<app-api-delete></app-api-delete>
<app-api-alldocs isAlternate="true"></app-api-alldocs>
<app-api-immediate-conflict></app-api-immediate-conflict>
<app-sync isAlternate="true"></app-sync>
<app-api-sync></app-api-sync>
<app-sync isAlternate="true"></app-sync>
<app-sync-conflict-comparer></app-sync-conflict-comparer>
<app-api-bulkdocs isAlternate="true"></app-api-bulkdocs>

<section class="hero is-fullheight has-background-grey-dark" id="end">
    <div class="hero-body">
        <div class="container">
            <div class="link"><span class="has-text-grey-light">https://github.com/craigshoemaker/</span><span class="has-text-info has-text-weight-bold">client-to-cloud-slides</span></div>
        </div>
    </div>
</section>