<app-nav></app-nav>
<app-introduction></app-introduction>
<app-crud></app-crud>
<app-local-conflict isAlternate="true"></app-local-conflict>
<app-sync></app-sync>
<app-sync-conflict-comparer isAlternate="true"></app-sync-conflict-comparer>
<app-api-init></app-api-init>
<app-api-add isAlternate="true"></app-api-add>
<app-api-get></app-api-get>
<app-api-update isAlternate="true"></app-api-update>
<app-api-delete></app-api-delete>
<app-api-sync isAlternate="true"></app-api-sync>

<section class="hero is-fullheight has-background-grey-dark" id="end">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                end
            </h1>
            <h2 class="subtitle">
                thanks
            </h2>
        </div>
    </div>
</section>