<section [ngClass]="{ 'hero': true, 'is-fullheight': true, 'is-alternate': isAlternate }"
          id="slide-takeaways">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-third has-text-centered">
                  <i class="far fa-edit fa-9x has-text-info" title="APIs"></i>
                </div>
                <div class="column is-one-third has-text-centered">
                  <i class="fas fa-sync fa-9x has-text-info" title="Synchronization"></i>
                </div>
                <div class="column is-one-third has-text-centered">
                  <i class="fas fa-bolt fa-9x has-text-info" title="Conflicts"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <app-slide-nav-bottom></app-slide-nav-bottom>
    </div>
</section>