<section [ngClass]="{ 'hero': true, 'is-fullheight': true, 'is-alternate': isAlternate }" 
          id="slide-anatomy">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column anatomy">
          <div>&#123;</div>
          <div><span class="key">github</span>: &quot;<span class="value">craigshoemaker</span>&quot;</div>
          <div><span class="key">twitter</span>: &quot;<span class="value">craigshoemaker</span>&quot;</div>
          <div><span class="key">_id</span>: &quot;<span class="value">craig</span>&quot;</div>
          <div><span class="key">_rev</span>: &quot;<span class="rev-number">3</span>-<span class="unique-id">8cbd12afe6c26ec813b64a04b0d06432</span>&quot;</div>
          <div>&#125;</div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot">
    <app-slide-nav-bottom></app-slide-nav-bottom>
  </div>
</section>