<section [ngClass]="{ 'hero': true, 'is-fullheight': true, 'is-alternate': isAlternate }" 
          id="slide-anatomy">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column anatomy">
          <div class=" has-text-grey">// create</div>
          <div>&#123;</div>
          <div><span class="key">_id</span>: &quot;<span class="value">2019-06-13T19:38:01.133Z</span>&quot;</div>
          <div><span class="key">_rev</span>: &quot;<span class="rev-number">1</span>-<span class="unique-id">8cbd12afe6c26ec813b64a04b0d06432</span>&quot;</div>
          <div>&#125;</div>

          <div class="has-text-grey update">// update</div>
          <div>&#123;</div>
          <div><span class="key">_id</span>: &quot;<span class="value">2019-06-13T19:38:01.133Z</span>&quot;</div>
          <div><span class="key">_rev</span>: &quot;<span class="rev-number">2</span>-<span class="unique-id">3ghs21bgu0z83fv912a59x83m6x85417</span>&quot;</div>
          <div>&#125;</div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot">
    <app-slide-nav-bottom></app-slide-nav-bottom>
  </div>
</section>