{
    "local": {
        "username": "<USER_NAME>",
        "password": "<PASSWORD>",
        "host": "localhost",
        "port": 5984
    },
    "azure": {
        "username": "<USER_NAME>",
        "password": "<PASSWORD>",
        "host": "<APP_NAME>.<REGION>.cloudapp.azure.com",
        "port": 5984
    }
}