<section class="hero is-fullheight has-background-grey-dark" id="end">
  <div class="hero-body">
      <div class="container">
          <div class="columns">
            <div class="column link-container is-two-thirds is-size-3">
              <div class="link">
                <span class="has-text-grey">https://github.com/</span>
                <span class="has-text-grey-light">craigshoemaker/</span>
                <span class="has-text-info has-text-weight-bold">client-to-cloud-slides</span>
              </div>
              <div class="socials">
                  <p><a href="http://github.com/craigshoemaker" tabindex="-1"arget="_blank"><i class="fab fa-github" aria-hidden="true"></i>craigshoemaker</a></p>
                  <p><a href="http://twitter.com/craigshoemaker" tabindex="-1" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i> craigshoemaker</a></p>
              </div>
            </div>
            <div class="column is-one-third">
              <img src="/assets/images/brothers.png" alt="">
            </div>
          </div>
      </div>
  </div>
</section>